@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: rgb(230, 238, 241);
    /* background-image:linear-gradient(rgba(132, 138, 161, 0.7),rgba(118, 128, 167, 0.7)), url(../css/photo/background.jpg);
    background-repeat: no-repeat;
	background-attachment: fixed;
  */
/* 
    background: #048;
	background: -webkit-linear-gradient(left top, #027, #48a);
	background: -moz-linear-gradient(bottom right, #027, #48a);
	background: linear-gradient(to bottom right, #027, #48a); */
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(photo/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* this is for logo of navbar  */
nav{
  
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 10rem;

}
.nav-link{
    flex:1;
    text-align: right;

}

/* this is for list of nav bar  */
.nav-link ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
   padding: 0.8rem;
    
}

.nav-link ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 0.2rem;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width: 100%;
    
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 65px;

}
.text-box p{
    margin: 1rem 0 4rem;
    font-size: 1.4rem;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 1.2rem 3rem;
    font-size: 1.3rem;
    background:transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background:#f44336;
    transition: 0.1s;
}

nav .fa-solid{
    display: none;
}

@media(max-width:500px){
    
    .text-box h1{
        font-size: 2rem;
    }

    .text-box p{
        margin: 0.1rem 0 0.1rem;
        font-size: 0.9rem;
    }

    .nav-link ul li{
        display: block;

    }
    .nav-link {
        position: absolute;
        background:#f44336;
        height: 100vh;
        width: 20rem;
        top:0;
        right:-20rem;
        text-align: left;
        z-index: 2;
        transition: 1s;


    }

    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 1rem;
        font-size: 2.2rem;
        cursor: pointer;
    }

    .nav-link ul{
        padding:3rem;
    }


}

  /* ---------------------------------------
  second section 
   --------------------------------  */


  .section-2 {
/*     
	background: #048;
	background: -webkit-linear-gradient(left top, #027, #48a);
	background: -moz-linear-gradient(bottom right, #027, #48a);
	background: linear-gradient(to bottom right, #027, #48a); */
 
    /* background-image: url(../css/photo/library.png);
    background-repeat: no-repeat;
	background-attachment: fixed; */
	color: #fff;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 140%;
	margin: 0 0;
    height: 100%;
	padding: 3rem;
	text-align: center;
    
    

}
.section-2 h1 span{
    font-size: 2rem;
    color: rgb(36, 106, 198);
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
}

.section-2 .section-img{
    width: 100%;
    /* background-image: url(photo/background.jpg); */

}



  .page_title {
    
	font-weight: 300;
	line-height: 120%;
	margin: 51px 20px;
	color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
    text-align: center;
}


.row {

    
    margin:0;
    
}
.section-2 .container {
    width: 100%;
    margin: 2px;
    display: grid;
    gap: 0rem 0rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    padding-top: 1rem;
    position: relative;
    


    
}

.section-2 .row .container .para{
    border: 2px solid black;
   
   
}

.test_box {
	
    display: block;
    position: relative;
    width: 310px;
    height: 350px;
    overflow: hidden;
    isolation: isolate;
    border-radius: 20px;
}
.test_box .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.test_box .inner .test_click:hover {
	background-color: rgba(0,100,255,.5); 
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
}
.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
}

.box-01 .inner h1 span{
	background-image: url('https://picsum.photos/1024/768?image=1033');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
    
}
.box-02 .inner {
	background-image: url('https://picsum.photos/1024/768?image=967');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-03 .inner {
	background-image: url('https://picsum.photos/1024/768?image=924');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-04 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1073');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-05 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1032');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-06 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1080');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-07 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1080');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-08 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1080');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}


@media(max-width:500px){
    .section-2 .container{
        display: grid;
        gap: 1rem 2rem;
        grid-template-columns: auto ;
    }
}

.product-section h1{
    margin: 5rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.product-details-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 2rem;
}
.left-side-1{
    padding-bottom: 2rem;
}

.left-side-1 img{
    width: 95%;
    height: 50vh;
}
.right-side-1 h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.right-side-1 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 2rem;
    text-transform: capitalize;
}


.product-details-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 2rem;
}


.right-side-2 img{
    width: 95%;
    height: 50vh;
}
.left-side-2 h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.left-side-2 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
@media(max-width:500px){

    .product-section h1{
        margin: 5rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    .left-side-1 img{
        width: 100%;
        height: 20vh;
    }
    .right-side-1 h2 {
        padding-left: 1rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        font-weight:20px;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    .right-side-1 p{
        padding-left: 1rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 11px;
        font-weight: 10px;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }

    /* this is for the product-section media fire  */

    .right-side-2 img{
        width: 100%;
        height: 20vh;
    }
    .left-side-2 h2{
        padding-left: 1rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        font-weight:10px;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    .left-side-2 p{
        padding-left: 1rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 11px;
        font-weight: 10px;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    

}







/* 
-------------------
footer 
--------------------- */
 
.footer{
    /* width: 100%;
    text-align: center;
    padding-top: 100px;
    background-color: #333; */
    /* here add the image for the background  */
    /* background: rgb(4, 6, 8);
	background: -webkit-linear-gradient(left top, rgb(5, 12, 28), rgb(15, 29, 36));
	background: -moz-linear-gradient(bottom right, rgb(16, 20, 32), rgb(12, 24, 30));
	background: linear-gradient(to bottom right, rgb(73, 113, 215), #48a);  
    */

    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}



.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    
}
.footer h2 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.icons{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 150px 7rem 150px;
}

.icons li{
    margin: 0 10px;
}



 
.icons  i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
    gap: 5rem;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 0px;
    padding-bottom: 50px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }

 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 5px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }


  
@media (max-width:500px) {

    .footer{
        width: 100%;
        
    }
    .footer-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        
    }
    .footer-menu ul li{
        padding-right: 9px;
        padding-top: 16px;
    }
    
    }
/*
-------------------
footer 
--------------------- */


